<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <h1>מערכת התכנים</h1>
        <p>פרויקט גמר בפיתוח אפליקציות אינטרנטיות</p>

        <nav class="home-links">
            <a href="/register">הרשמה</a>
            <a href="/login">התחברות</a>
            <a href="/contents">קטלוג תכנים</a>
        </nav>
    </main>
</body>
</html>
